<%- include ("layout/_head.ejs",{ title:title }) %>
<h1><%= title %></h1>
<ul>
    <li><a href="/catalog/anime">Anime</a></li>
    <li><a href="/catalog/author">Author</a></li>
    <li><a href="/catalog/genre">Genre</a></li>
</ul>





<%- include ("layout/_footer.ejs") %>